.country-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
}

.country-card__info {
    padding: 1.2rem;
}

.country-card__title {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: .1rem solid var(--c-secondary);
    padding-bottom: 1rem;
}

.country-card__block {
    margin-bottom: 1.2rem;
}

.country-card__label {
    display: inline-block;
    font-weight: 600;
    color: var(--c-primary);
    text-transform: uppercase;
    letter-spacing: .045rem;
    margin-bottom: .3rem;
    opacity: .6;
}

.country-card__stat {
    font-weight: 400;
    font-size: 1.4rem;
}

.country-card__flag {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}